body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100vw;
  height: 100vh;
}

.bluey{
  color: aquamarine;
}

.generateBtn {
  width: 200px;
  height: 40px;
}

/* Meme Editor */

canvas {
  width: 400px;
  height: 400px;
  margin-bottom: 12px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer > input {
  width: 90%;
  margin: 4px;
}

/* Footer */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  margin: 12px;
  color: white;
}

