body {
  margin: 0;
  

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100vw;
  height: 100vh;
}

.generateBtn {
  width: 200px;
  height: 40px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 12px;
  color: white;
}

.bluey{
  color: aquamarine;
}