body {
  margin: 0;
  

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100vw;
  height: 100vh;

  background-image: url(./images/pepe.jpg);
  opacity: 0.5;
}

.generateBtn {
  width: 200px;
  height: 40px;
}

